# Server Configuration
APP_PORT=8081
GIN_MODE=release

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=helpdesk_db

# Security
JWT_SECRET=gunakan_string_acak_dan_panjang_disini